<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
</head>

<body>
<form id="form1" name="form1" method="get" action="/bgadd">
  <table width="529" height="297" border="1">
    <tr>
      <td width="50">&nbsp;</td>
      <td width="142">部门</td>
      <td width="194">域名 </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td valign="top"><label for="select"></label>
        
        <select name="select" size="10"  id="select">
          
					{%for i,j in bm.items %}
						  <option value="{{i}}">{{j}}</option>
					{%endfor%}
        
        </select></td>
      <td valign="top"><label>
        <select name="select2" size="30"  multiple="multiple">
		{%for i in ym%}
			{%for j in i%}
        <option value="{{j}}">{{j}} </option>    
			{%endfor%}
		{%endfor%}
        </select>
      </label></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label>
        <input type="submit" name="Submit" value="insert" />
      </label></td>
      <td>{{NO}}</td>
    </tr>
  </table>
</form>
</body>
</html>
