<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>无标题文档</title>
<script type="text/JavaScript">
<!--
function MM_jumpMenu(targ,selObj,restore){ //v3.0
  eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
  if (restore) selObj.selectedIndex=0;
}
//-->
</script>
</head>

<body>
<form id="form1" name="form1" method="get" action="/bgdeldo">
  <table width="529" height="297" border="1">
    <tr>
      <td width="50">&nbsp;</td>
      <td width="142">部门[{{argv1}}]</td>
      <td width="194">域名 </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td valign="top"><label for="select"></label>
        <select name="select"  id="select" onchange="MM_jumpMenu('parent',this,0)">        
         <option value="NULL">选择项目</option>
		  		{%for i,j in bm.items %}
      <option value="/bgdel/{{i}}">{{j}}</option>
				{%endfor%}

                </select></td>
      <td valign="top"><label>
        <select name="select2" size="30"  multiple="multiple">
		{%for i in ym%}
			{%for j in i%}
        <option value="{{j}}">{{j}}</option>    
			{%endfor%}
		{%endfor%}
        </select>
      </label></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><label>
        <input type="submit" name="Submit" value="del" />
      </label></td>
      <td> {%for i in NO%}{{i}}{%endfor%}</td>
    </tr>
  </table>
</form>
</body>
</html>
